.mainText {
    position: relative;
    width: 80%;
    font-weight: 600;
    font-size: 38px;
    line-height: 42px;
    padding: 60px 0px 0px 50px;
    color: #0B132A;
}

.topTextBox {
    align-content: center !important;
}

.subText {
    position: relative;
    font-family: "Noto Serif", serif;
    padding: 0px 0px 0px 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #0B132A;
    text-align: left !important;
}

.smallText {
    position: relative;
    padding: 0px 0px 0px 50px;
    color: #0B132A;
    text-align: left !important;
}

.modal {
    position: relative;
    padding: 50px !important;
    color: #0B132A;
    text-align: left !important;
}

.maskedElbowBump {
    position: relative;
    width: 100%;
    background-blend-mode: multiply;
    display: grid !important;
    padding: 60px 40px 0px 0px;
}

.about {
    overflow: auto;
}

.transitionText {
    position: relative;
    text-align: center;
    color: #0B132A;
    font-size: 28px;
}

.bottomGridItem {
    text-align: center !important;
    font-size: 18px;
}

.bottomGridBox {
    height: 30%;
    padding: 0px 30px;
}

h3 {
    text-align: center !important; 
}

.visionsText {
    font-size: 24px !important;
}

