.iconGrid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    width: 54px;
    height: 54px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 24px;
    margin-right: 10px;
    float: left;
    display: flex;
    justify-content: center;
}

.groupSizeCircle {
    width: 54px;
    height: 54px;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 24px;
    margin-right: 10px;
    float: left;
    display: flex;
    justify-content: center;
    color: #68aadf;
    background-color: #EDF4FA;
}

.groupSize {
    margin-top: 9.5px;
    width: 35px !important;
    height: 35px !important;
}

.precautionText {
    display: flex;
    align-items: center;
    align-content: center;
    height: 45px;
    font-size: 14px;
}

.precautionHeader {
    margin-bottom: 20px;
    align-items: center;
}

.expandButton {
    display: inline;
    line-height: 30px;
    margin-top: -6px !important;
    margin-left: -5px !important;
    margin-right: -10px !important;
}

.crowdSize {
    margin-bottom: 24px !important;
}

.locationText {
    margin-top: 5px;
}

.roomOutlined {
    color: #318AD0;
    margin-bottom: -3px;
    font-size: larger;
}

.peopleAltOutlined {
    color: #318AD0 !important;
    margin-bottom: -3px !important;
    font-size: larger;
}

.mainIcons {
    color: inherit;
    margin-bottom: -4px;
    margin-right: 3px;
    font-size: larger;
}

.expandOutlined {
    color: #6C787F;
}

.iconBlocks {
    display: block;
}

.estimateHeader {
    margin-bottom: 15px;
    margin-top: 20px;
    color: inherit;
}

.collapseEstimate {
    text-align: center;
    margin-top: -15px;
    margin-bottom: -25px;
}

.collapseEstimateIcon {
    font-size: 30px;
}

.estimateText {
    margin-top: 12px;
    color: inherit;
    margin-bottom: 15px;
    max-width: 275px;
}

.estimateTextAttendees {
    margin-top: 6px;
    color: inherit;
    margin-bottom: 10px;
    max-width: 300px;
}

.estimateRange {
    margin-top: 0px;
    margin-bottom: 6px;
    font-size: 24px;
}

.infectedAttendees {
    margin-bottom: 0px;
    margin-top: 10px;
}

h1 {
    font-size: 32px;
}

hr {
    border-top: 1px dotted;
    background-color: black;
    width: 86%; 
    margin-top: 0;
    margin-left: 0;
}

.nocases {
    background-color: #efefef;
    color: #4E585B;
}

.range1 {
    background-color: #eff5d9;
    color: #4E585B;
    background-image: url('../assets/man_coughing_very_low.png');
}
  
.range2 {
    background-color: #d9ed92;
    color: #4E585B;
    background-image: url('../assets/man_coughing_low.png');
}
  
.range3 {
    background-color: #76c893;
    color: white;
    background-image: url('../assets/man_coughing_low_mid.png');
}
  
.range4 {
    background-color: #34a0a4;
    color: white;
    background-image: url('../assets/man_coughing_mid_high.png');
}

.range5 {
    background-color: #1a759f;
    color: white;
    background-image: url('../assets/man_coughing_high.png');
}

.range6 {
    background-color: #184e77;
    color: white;
    background-image: url('../assets/man_coughing_very_high.png');
}

@media (max-width: 600px) {
    .precautionsLabel {
        text-align: center;
    }

    .iconGrid {
        padding-top: 10px;
        margin-bottom: -10px;
        padding-right: 10px;
    }

    .locationGrid {
        padding: 0px 10px 0px 0px;
    }

    .locationText {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .crowdSize {
        margin-top: 20px;
        margin-bottom: -5px !important;
        margin-left: 0px;
        margin-right: -10px;
    }

    .estimateText {
        margin-bottom: 0px;
    }
}
