.sidebar {
    background: #318AD0;
    color: #ffffff;
    height: 100vh;
    text-align: left;
    overflow: auto;
}

.sidebarBox {
    width: inherit;
}

.title {
    padding: 0px 40px 0px;
}

.subtitle {
    padding: 0 40px;
}

.blurb {
    padding: 0 40px;
}

.subtitle::after {
    content: '';
    width: 40px;
    height: 8px;
    background: #ffc108;
    display: block;
    margin-top: 18px;
}
.serif {
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    font-weight: 700;
}

@media (max-width: 600px) {
    .sidebar {
        height: auto;
        overflow: none;
        line-height: 18px;
    }

    .title {
        padding: 30px 20px 0;
        font-size: 26px;
    }
    
    .subtitle {
        padding: 0 20px;
        font-size: 16px;
    }

    .serif {
        font-size: 16px; 
    }
    
    .blurb {
        padding: 0 20px;
        font-size: 14px;
    }

    .subtitle::after {
        margin-top: 10px;
    }
    
}
