.sidebar {
    background: #318AD0;
    color: #ffffff;
    height: 100vh;
    text-align: left;
}

.title {
    padding: 60px 60px 0;
}

.subtitle {
    padding: 0 60px;
}

.leftNav {
    padding-left: 60px !important;
}

.leftNavItem {
    padding: 24px 12px !important;
    border-radius: 12px 0 0 12px !important;
}

.blurb {
    padding: 0 60px;
}

.subtitle::after {
    content: '';
    width: 40px;
    height: 8px;
    background: #ffc108;
    display: block;
    margin-top: 18px;
}
.serif {
    font-family: 'Noto Serif', serif;
    font-size: 20px;
    font-weight: 700;
}

.expandIconBox {
    margin-right: 20px;
    /* transform: rotate(90deg); */
}
.expand {
    transform: rotate(0deg);
    margin-left: auto;
}
.expandOpen {
    /*transform: rotate(180deg);*/
}
.expanded {
    margin-left: 20px;
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .sidebar {
        height: auto;
    }

    .leftNavItem {
        padding: 24px 12px 24px 24px !important;
        border-radius: 12px 12px 0 0 !important;
    }
    .title {
        padding: 60px 40px 0;
    }
    
    .subtitle {
        padding: 0 40px;
    }
    
    .leftNav {
        padding-left: 40px !important;
    }
    .blurb {
        padding: 0 40px;
    }
    
}