@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  margin: 0;
  font-family: 'Noto Sans', 'Roboto', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  text-align: left;
}

h1 {
  font-weight: 700;
  text-align: left;
  margin: 0;
  font-size: 28px;
  line-height: 32px;
}

h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
  margin: 0;
}

H4 {
  color: #6C787F
}

p {
  text-align: left;
}

.serif {
  font-family: "Noto Serif", serif;
}

ul a.active {
  background-color: #2A79B8 !important;
}

.map {
  position: relative;
  text-align: left;
}

.map .loadingBackdrop {
  position: absolute;
}

.about,
.advanced,
.data {
  padding: 64px 32px;
}

.map-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.longlat {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-size: 10px;
  font-family: monospace;
  margin: 0px;
  position: absolute;
  right: 0;
  bottom: 24px;
  z-index: 1;
}

.mapfilters {
  width: 320px;
  position: absolute;
  height: auto;
  max-height: calc(100vh - 80px);
  left: 18px;
  top: 12px;
  background: #ffffff;
  z-index: 4;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 16px 32px 10px;
  overflow: auto;
}

#selector-eventSize .MuiSlider-markLabel {
  top: -15px;
}

#selector-eventSize .MuiSlider-valueLabelOpen.MuiSlider-valueLabel {
  top: 60px;
}

#selector-eventSize .MuiSlider-valueLabelOpen.MuiSlider-valueLabel::before {
  bottom: 26px;
}

@media screen and (min-width: 1600px) {
  .mapfilters {
    max-height: none;
  }
}

.topMapfilters {
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 100%;
}

.MuiCardContent-root {
  text-align: center;
}

div#mapLegend {
  position: absolute;
  top: 12px;
  right: 48px;
  background: #ffffff;
  padding: 16px 32px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

div#mapLegend h5 {
  line-height: 16px;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}

div#mapLegend span {
  width: calc(100% / 6);
  display: inline-block;
  border-top: 5px solid;
  text-align: center;
  font-size: 10px;
  vertical-align: top;
  padding-top: 4px;
}

div#mapLegend span.nodata {
  border-top-color: #eff5d9;
}

div#mapLegend span.range1 {
  border-top-color: #d9ed92;
}

div#mapLegend span.range2 {
  border-top-color: #b5e48c;
}

div#mapLegend span.range3 {
  border-top-color: #76c893;
}

div#mapLegend span.range4 {
  border-top-color: #34a0a4;
}

div#mapLegend span.range5 {
  border-top-color: #1a759f;
}

div#mapLegend span.range6 {
  border-top-color: #184e77;
}

.mapboxgl-popup-content h3 {
  margin-bottom: 0;
  font-size: 16px;
}

.mapboxgl-popup-content p {
  margin-top: 0;
}

@media (max-width: 600px) {
  .mapfilters {
    position: sticky;
    left: auto;
    top: -12px;
    margin-bottom: -24px;
    background: #ffffff;
    width: auto;
    overflow: unset;
    max-height: unset;
    padding: 16px 32px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.523);
  }

  .serif {
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 17px;
  }

  .filtersQuestion {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 14px;
  }

  .MuiListItemText-root {
    display: none !important;
  }
  
  ul.MuiList-padding > a {
    display: inline-block !important;
  }

  .MuiList-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }

  .MuiSlider-markLabel {
    display: none;
  }

  div#mapLegend {
    bottom: 90px;
    left: 12px;
    top: unset;
    right: 12px;
  }

  .mapboxgl-ctrl-top-right {
    display: none;
    visibility: hidden;
  }

  .mapboxgl-ctrl-bottom-right {
    display: none;
    visibility: hidden;
  }

  .longlat {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 601px) and (max-width: 1195px) {
  div#mapLegend {
    bottom: 55px;
    left: unset;
    top: unset;
    right: 4px;
  }
}
